<!doctype html>
<html lang="es" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>RedXpress Soluciones - Detalle De Usuario</title>
    <!-- Favicons -->
    <link rel="icon" th:href="@{/common-assets/img/favicon.png}">
    <link rel="apple-touch-icon" th:href="@{/common-assets/img/apple-touch-icon.png}">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link rel="stylesheet" th:href="@{/common-assets/vendor/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/common-assets/vendor/bootstrap-icons/bootstrap-icons.css}">
    <link rel="stylesheet" th:href="@{/common-assets/vendor/boxicons/css/boxicons.min.css}">
    <link rel="stylesheet" th:href="@{/common-assets/vendor/remixicon/remixicon.css}">
    <link rel="stylesheet" th:href="@{/common-assets/vendor/simple-datatables/style.css}">

    <!-- Template Main CSS File -->
    <link rel="stylesheet" th:href="@{/common-assets/css/style.css}">
</head>
<body>
<header th:replace="~{fragments::header}">
</header>
<aside th:replace="~{fragments::aside}">
</aside>
<main class="main" id="main">
    <div class="pagetitle">
        <h1>Sistema RedXPress - Detalle de Usuario</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{/}">Principal</a></li>
                <li class="breadcrumb-item"><a th:href="@{/system}">Sistema</a></li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
    <section class="section profile">
        <div class="row">
            <div class="col-xl-4">
                <div class="card">
                    <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                        <img alt="Profile" class="rounded-circle" id="profilePictureImage" src="">
                        <h2><span class="text-capitalize" id="fieldUserNames"></span></h2>
                        <h3><span class="text-capitalize" id="fieldUserRole"></span>
                        </h3>
                        <h3>
                            <span class="text-capitalize badge" id="fieldUserStatus"></span>
                        </h3>
                        <div class="social-links mt-2">
                            <a class="" href="#" id="fieldSocialLinksPhone"></a>
                            <a class="" href="#" id="fieldSocialLinksWhatsApp"></a>
                            <a class="" href="#" id="fieldSocialLinksEmail"></a>
                        </div>
                    </div>
                </div>
                <div class="card" sec:authorize="hasAnyAuthority('ADMIN', 'SUPERVISOR')">
                    <div class="card-body profile-overview">
                        <h5 class="card-title">Auditoría</h5>
                        <div class="row">
                            <div class="col-lg-5 col-md-4 label ">Creación</div>
                            <div class="col-lg-7 col-md-8">
                                <span class="text-capitalize" id="fieldCreationDate"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-5 col-md-4 label ">Creado Por</div>
                            <div class="col-lg-7 col-md-8">
                                <span class="text-capitalize" id="fieldCreatedBy"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-5 col-md-4 label ">Modificación</div>
                            <div class="col-lg-7 col-md-8">
                                <span class="text-capitalize" id="fieldLastModifiedDate"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-5 col-md-4 label ">Modificado Por</div>
                            <div class="col-lg-7 col-md-8">
                                <span class="text-capitalize" id="fieldLastModifiedBy"></span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-xl-8">

                <div class="card">
                    <div class="card-body pt-3">
                        <!-- Bordered Tabs -->
                        <ul class="nav nav-tabs nav-tabs-bordered">

                            <li class="nav-item">
                                <button class="nav-link active" data-bs-target="#profile-overview" data-bs-toggle="tab">
                                    Resumen
                                </button>
                            </li>

                            <li class="nav-item" sec:authorize="hasAnyAuthority('ADMIN', 'SUPERVISOR')">
                                <button class="nav-link" data-bs-target="#profile-edit" data-bs-toggle="tab">Editar
                                    Perfil
                                </button>
                            </li>

                            <li class="nav-item" sec:authorize="hasAnyAuthority('ADMIN', 'SUPERVISOR')">
                                <button class="nav-link" data-bs-target="#profile-settings" data-bs-toggle="tab">
                                    Opciones
                                </button>
                            </li>

                            <li class="nav-item">
                                <button class="nav-link" data-bs-target="#profile-change-password" data-bs-toggle="tab">
                                    Cambiar Contraseña
                                </button>
                            </li>

                        </ul>
                        <div class="tab-content pt-2">

                            <div class="tab-pane fade show active profile-overview" id="profile-overview">
                                <h5 class="card-title">Notas</h5>
                                <p class="small fst-italic" id="fieldUserNotes"></p>

                                <h5 class="card-title">Detalles de usuario</h5>

                                <!--                                <div class="row">-->
                                <!--                                    <div class="col-lg-4 col-md-5 label ">Nombres Completos</div>-->
                                <!--                                    <div class="col-lg-8 col-md-7"><span class="text-capitalize"-->
                                <!--                                                                         th:text="${userDto.firstName() +' '+ userDto.lastName()}"></span>-->
                                <!--                                    </div>-->
                                <!--                                </div>-->

                                <div class="row">
                                    <div class="col-lg-4 col-md-5 label">DNI</div>
                                    <div class="col-lg-8 col-md-7"><span id="fieldUserIdNumber"></span></div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-4 col-md-5 label">Usuario</div>
                                    <div class="col-lg-8 col-md-7"><span id="fieldUserUserName"></span></div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-4 col-md-5 label">Celular</div>
                                    <div class="col-lg-8 col-md-7">
                                        <span id="fieldUserPhone"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4 col-md-5 label">2do teléfono</div>
                                    <div class="col-lg-8 col-md-7">
                                        <span id="fieldUserPhone2"></span>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-4 col-md-5 label">Email</div>
                                    <div class="col-lg-8 col-md-7">
                                        <span id="fieldUserEmail"></span>
                                    </div>
                                </div>
                                <!--                                <div class="row">-->
                                <!--                                    <div class="col-lg-4 col-md-5 label">Estado</div>-->
                                <!--                                    <div class="col-lg-8 col-md-7">-->
                                <!--                                        <span class="badge rounded-pill text-bg-danger" th:text="${userDto.status()}"-->
                                <!--                                              th:unless="${userDto.status().name()=='ACTIVE'}"></span>-->
                                <!--                                        <span class="badge rounded-pill text-bg-success"-->
                                <!--                                              th:if="${userDto.status().name()=='ACTIVE'}"-->
                                <!--                                              th:text="${userDto.status()}"></span>-->
                                <!--                                    </div>-->
                                <!--                                </div>-->

                            </div>

                            <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

                                <!-- Profile Edit Form -->
                                <div class="form" id="form-edit-profile">
                                    <div class="row mb-3">
                                        <label class="col-md-4 col-lg-3 col-form-label" for="profilePictureEditImage">Imagen
                                            de perfil</label>
                                        <div class="col-md-8 col-lg-9">
                                            <img alt="Profile" id="profilePictureEditImage" src="">
                                            <div class="pt-2">
                                                <!--TODO: Fix case when admin is viewing its own profile-->
                                                <button class="btn btn-primary btn-sm" id="btnUploadProfilePicture"
                                                        title="Cargar nueva imagen"><i class="bi bi-upload"></i>
                                                </button>
                                                <button class="btn btn-danger btn-sm" id="btnDeleteProfilePicture"
                                                        title="Remover imagen actual"><i class="bi bi-trash"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label class="col-md-4 col-lg-3 col-form-label"
                                               for="editNotes">Notas</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input class="form-control editUserForm" id="editNotes" name="notes"
                                                   type="text">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label class="col-md-4 col-lg-3 col-form-label"
                                               for="editFirstName">Nombres</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input class="form-control editUserForm" id="editFirstName" name="firstName"
                                                   type="text">
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label class="col-md-4 col-lg-3 col-form-label"
                                               for="editLastName">Apellidos</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input class="form-control editUserForm" id="editLastName" name="lastName"
                                                   type="text">
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label class="col-md-4 col-lg-3 col-form-label"
                                               for="editIdNumber">DNI/CE</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input class="form-control editUserForm" id="editIdNumber" name="idNumber"
                                                   type="text">
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label class="col-md-4 col-lg-3 col-form-label" for="editPhone">Celular</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input class="form-control editUserForm" id="editPhone" name="phone"
                                                   type="tel">
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label class="col-md-4 col-lg-3 col-form-label" for="editPhone2">2do
                                            teléfono</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input class="form-control editUserForm" id="editPhone2" name="phone2"
                                                   type="tel">
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label class="col-md-4 col-lg-3 col-form-label" for="editEmail">Email</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input class="form-control editUserForm" id="editEmail" name="email"
                                                   type="tel">
                                        </div>
                                    </div>

                                    <div class="text-center">
                                        <button class="btn btn-primary" id="btnEditProfile">Save Changes</button>
                                    </div>
                                </div><!-- End Profile Edit Form -->

                            </div>

                            <div class="tab-pane fade pt-3" id="profile-settings">
                                <!-- deactivateUser Form -->
                                <div class="form mb-3" id="form-deactivate-user">
                                    <div class="row mb-4">
                                        <h5>Cambiar Estado De Usuario</h5>
                                        <p>Si un usuario deja de ser empleado, es útil desactivarlo en vez de borrarlo.
                                            De esta manera, mantienes todos sus registros asociados. Si regresa, puedes
                                            volver a activarlo. Un usuario
                                            desactivado no puede iniciar sesión.
                                            <br>Necesitas tener rol de administrador para poder desactivar o activar a
                                            un usuario
                                        </p>
                                        <div class="col-md-8 col-lg-9">
                                            <div class="form-check">
                                                <input class="form-check-input"
                                                       id="securityNotifyDeactivateUser" type="checkbox">
                                                <label class="form-check-label" for="securityNotifyDeactivateUser">
                                                    Entiendo lo que representa desactivar o activar a un usuario.
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <p class="text-muted" sec:authorize="hasAuthority('SUPERVISOR')">No
                                            autorizado</p>
                                        <button class="btn btn-warning" disabled
                                                id="btn-toggle-status-user" sec:authorize="hasAuthority('ADMIN')">
                                            <i class="bi bi-exclamation-triangle pe-2"></i>Cambiar Estado De Usuario
                                        </button>
                                        <button class="btn btn-warning" disabled
                                                id="dummy-btn-toggle-status-user"
                                                sec:authorize="hasAuthority('SUPERVISOR')">
                                            <i class="bi bi-exclamation-triangle pe-2"></i>Cambiar Estado De Usuario
                                        </button>
                                    </div>
                                    <div class="alert alert-success mt-3 alert-dismissible fade show"
                                         id="toggleStatusUserOkInfo"
                                         role="alert">
                                        <i class="pe-1 bi bi-check-circle"></i> Se cambió correctamente el estado
                                        usuario. Refresca la página para ver el cambio.
                                        <button aria-label="Close" class="btn-close" data-bs-dismiss="alert"
                                                type="button"></button>
                                    </div>
                                    <div class="alert alert-warning mt-3 alert-dismissible fade show"
                                         id="toggleStatusUserSameUserInfo"
                                         role="alert">
                                        <i class="pe-1 bi bi-x-circle"></i> No puedes cambiar el estado a tu propio
                                        usuario!.
                                        <button aria-label="Close" class="btn-close" data-bs-dismiss="alert"
                                                type="button"></button>
                                    </div>
                                    <div class="alert alert-danger mt-3 alert-dismissible fade show"
                                         id="toggleStatusUserErrorInfo"
                                         role="alert">
                                        <i class="pe-1 bi bi-x-circle"></i> Hubo un error al intentar cambiar el estado
                                        del usuario.
                                        Refresca la página y vuelve a intentar. Si el error persiste, pide ayuda al
                                        personal de IT.
                                        <button aria-label="Close" class="btn-close" data-bs-dismiss="alert"
                                                type="button"></button>
                                    </div>
                                </div><!-- End deactivateUser Form -->
                                <!-- deleteUser Form -->
                                <div class="form mb-4" id="form-delete-user">
                                    <div class="row mb-3">
                                        <h5>Eliminar Usuario</h5>
                                        <p>Borrar usuarios es una acción importante.
                                            Deberías hacerlo únicamente si es que te equivocaste al crearlo,
                                            y preferentemente sin que este haya creado ningún ticket.<br>
                                            Solo podrás eliminar un usuario si tienes el rol de Administrador.</p>
                                        <div class="col-md-8 col-lg-9">
                                            <div class="form-check">
                                                <input class="form-check-input"
                                                       id="securityNotifyDeleteUser" type="checkbox">
                                                <label class="form-check-label" for="securityNotifyDeleteUser">
                                                    Entiendo lo que estoy haciendo.
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <p class="text-muted" sec:authorize="hasAuthority('SUPERVISOR')">No
                                            autorizado</p>
                                        <button class="btn btn-danger" disabled
                                                id="btn-delete-user" sec:authorize="hasAuthority('ADMIN')">
                                            <i class="bi bi-exclamation-triangle pe-2"></i>Eliminar Usuario
                                        </button>
                                        <button class="btn btn-danger" disabled
                                                id="dummy-btn-delete" sec:authorize="hasAuthority('SUPERVISOR')">
                                            <i class="bi bi-exclamation-triangle pe-2"></i>Eliminar Usuario
                                        </button>
                                    </div>
                                    <div class="alert alert-success mt-3 alert-dismissible fade show"
                                         id="deleteUserOkInfo"
                                         role="alert">
                                        <i class="pe-1 bi bi-check-circle"></i> Se eliminó correctamente al usuario.
                                        Serás redirigido al listado en unos segundos.
                                        <button aria-label="Close" class="btn-close" data-bs-dismiss="alert"
                                                type="button"></button>
                                    </div>
                                    <div class="alert alert-warning mt-3 alert-dismissible fade show"
                                         id="deleteUserSameUserInfo"
                                         role="alert">
                                        <i class="pe-1 bi bi-x-circle"></i> No puedes eliminar a tu propio usuario!.
                                        <button aria-label="Close" class="btn-close" data-bs-dismiss="alert"
                                                type="button"></button>
                                    </div>
                                    <div class="alert alert-danger mt-3 alert-dismissible fade show"
                                         id="deleteUserErrorInfo"
                                         role="alert">
                                        <i class="pe-1 bi bi-x-circle"></i> Hubo un error al intentar eliminar al
                                        usuario.
                                        Refresca la página y vuelve a intentar. Si el error persiste, pide ayuda al
                                        personal de IT.
                                        <button aria-label="Close" class="btn-close" data-bs-dismiss="alert"
                                                type="button"></button>
                                        <!-- Next line is hidden field to get the new profile image"-->
                                        <input accept=".jpg, .png, .jpeg" hidden="hidden" id="profilePictureSelector"
                                               type="file">
                                    </div>
                                </div><!-- End deleteUser Form -->

                            </div>

                            <div class="tab-pane fade pt-3" id="profile-change-password">
                                <!-- Change Password Form for regular users-->
                                <div class="form" id="form-change-password">
                                    <div class="row mb-3"
                                         sec:authorize="hasAnyAuthority('DISPATCHER', 'TRANSPORTER', 'SUPERVISOR')">
                                        <label class="col-md-4 col-lg-3 col-form-label" for="currentPassword">Contraseña
                                            Actual</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input class="form-control" id="currentPassword" name="password"
                                                   type="password">
                                        </div>
                                    </div>
                                    <div class="row mb-3" sec:authorize="hasAnyAuthority('ADMIN', 'SUPERVISOR')">
                                        <p>En caso de olvido o perdida, los administradores pueden cambiar
                                            la contraseña de cualquier usuario. Esta opción debe ser utilizada con mucho
                                            cuidado.</p>
                                    </div>
                                    <div class="row mb-3">
                                        <label class="col-md-4 col-lg-3 col-form-label" for="newPassword">Nueva
                                            Contraseña</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input class="form-control" id="newPassword" name="newPassword"
                                                   type="password">
                                            <div class="form-text" id="passwordHelp">Debe contener al menos 4
                                                caracteres, no especiales.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label class="col-md-4 col-lg-3 col-form-label" for="renewPassword">Reingresa la
                                            nueva contraseña</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input class="form-control" id="renewPassword" name="renewPassword"
                                                   type="password">
                                        </div>
                                    </div>

                                    <div class="text-center">
                                        <button class="btn btn-primary" disabled id="btnChangePassword">Cambiar
                                            Contraseña
                                        </button>
                                    </div>
                                    <div class="alert alert-success mt-3 alert-dismissible fade show"
                                         id="passwordChangedOkInfo"
                                         role="alert">
                                        <i class="pe-1 bi bi-check-circle"></i> La contraseña se cambió con éxito. Vas a
                                        tener que <strong>reiniciar tu sesión</strong>.
                                        <button aria-label="Close" class="btn-close" data-bs-dismiss="alert"
                                                type="button"></button>
                                    </div>
                                    <div class="alert alert-warning mt-3 alert-dismissible fade show"
                                         id="passwordChangedBadPwdInfo"
                                         role="alert">
                                        <i class="pe-1 bi bi-exclamation-triangle"></i> La contraseña actual es
                                        incorrecta.
                                        <button aria-label="Close" class="btn-close" data-bs-dismiss="alert"
                                                type="button"></button>
                                    </div>
                                    <div class="alert alert-danger mt-3 alert-dismissible fade show"
                                         id="passwordChangedErrorInfo"
                                         role="alert">
                                        <i class="pe-1 bi bi-exclamation-triangle"></i> Ocurrió un error. ¿Tienes
                                        internet? Comunícate con un administrador.
                                        <button aria-label="Close" class="btn-close" data-bs-dismiss="alert"
                                                type="button"></button>
                                    </div>
                                </div><!-- End Change Password Form -->


                            </div>

                        </div><!-- End Bordered Tabs -->

                    </div>
                </div>

            </div>
        </div>
    </section>
</main>

<footer th:replace="~{fragments::footer}"></footer>
<a class="back-to-top d-flex align-items-center justify-content-center" href="#"><i
        class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->

<script th:src="@{/common-assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<script th:src="@{/common-assets/vendor/echarts/echarts.min.js}"></script>

<script th:src="@{/common-assets/vendor/simple-datatables/simple-datatables.js}"></script>


<!-- Template Main JS File -->
<script th:src="@{/common-assets/js/main.js}"></script>
<script th:src="@{/system-assets/js/user-detail.js}"></script>
</body>
</html>