<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Pages / Login - NiceAdmin Bootstrap Template</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link rel="icon" th:href="@{/common-assets/img/favicon.png}">
    <link rel="apple-touch-icon" th:href="@{/common-assets/img/apple-touch-icon.png}">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link rel="stylesheet" th:href="@{/common-assets/vendor/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/common-assets/vendor/bootstrap-icons/bootstrap-icons.css}">
    <link rel="stylesheet" th:href="@{/common-assets/vendor/boxicons/css/boxicons.min.css}">


    <link rel="stylesheet" th:href="@{/common-assets/vendor/remixicon/remixicon.css}">
    <link rel="stylesheet" th:href="@{/common-assets/vendor/simple-datatables/style.css}">

    <!-- Template Main CSS File -->
    <link rel="stylesheet" th:href="@{/common-assets/css/style.css}">

    <!-- =======================================================
    * Template Name: NiceAdmin - v2.5.0
    * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

<main>
    <div class="container">

        <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                        <div class="d-flex justify-content-center py-4">
                            <a class="logo d-flex align-items-center w-auto" href="../index.html">
                                <img alt="" th:src="@{/common-assets/img/logo.png}">
                                <span class="d-none d-lg-block">RedXPress</span>
                            </a>
                        </div><!-- End Logo -->

                        <div class="card mb-3">

                            <div class="card-body">

                                <div class="pt-4 pb-2">
                                    <h5 class="card-title text-center pb-0 fs-4">Inicia Sesión En Tu Cuenta</h5>
                                    <p class="text-center small">Ingresa tus credenciales para iniciar sesión</p>
                                    <div class="alert alert-info bg-info border-0 alert-dismissible fade show"
                                         role="alert"
                                         th:if="${logout==true}">
                                        <i class="bi bi-info-circle me-1"></i>
                                        Has cerrado sesión.
                                        <button aria-label="Close" class="btn-close" data-bs-dismiss="alert"
                                                type="button"></button>
                                    </div>
                                    <div class="alert alert-warning bg-warning border-0 alert-dismissible fade show"
                                         role="alert"
                                         th:if="${badCredentials==true}">
                                        <i class="bi bi-exclamation-triangle me-1"></i>
                                        Las credenciales son incorrectas!
                                        <button aria-label="Close" class="btn-close" data-bs-dismiss="alert"
                                                type="button"></button>
                                    </div>
                                </div>

                                <form class="row g-3 needs-validation" method="post" novalidate th:action="@{/login}">

                                    <div class="col-12">
                                        <label class="form-label" for="username">Usuario</label>
                                        <div class="input-group has-validation">
                                            <span class="input-group-text" id="inputGroupPrepend">@</span>
                                            <input class="form-control" id="username" name="username" required
                                                   type="text">
                                            <div class="invalid-feedback">Por favor, ingresa un nombre de usuario.</div>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <label class="form-label" for="password">Contraseña</label>
                                        <input class="form-control" id="password" name="password" required
                                               type="password">
                                        <div class="invalid-feedback">Por favor, ingresa tu contraseña!</div>
                                    </div>

                                    <div class="col-12">
                                        <div class="form-check">
                                            <input class="form-check-input" id="remember" name="remember"
                                                   type="checkbox"
                                                   value="true">
                                            <label class="form-check-label" for="remember">Recordarme</label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <button class="btn btn-primary w-100" type="submit">Iniciar Sesión</button>
                                    </div>
                                    <div class="col-12">
                                        <!--TODO: determine if new page is needed, or only an email link-->
                                        <p class="small mb-0">¿No tienes cuenta? <a href="pages-register.html">Solicita
                                            una al administrador</a></p>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </section>

    </div>
</main><!-- End #main -->

<a class="back-to-top d-flex align-items-center justify-content-center" href="#"><i
        class="bi bi-arrow-up-short"></i></a>
<footer th:replace="~{fragments::footer}"></footer>
<!-- Vendor JS Files -->
<script th:src="@{/common-assets/vendor/apexcharts/apexcharts.min.js}"></script>
<script th:src="@{/common-assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<script th:src="@{/common-assets/vendor/echarts/echarts.min.js}"></script>

<script th:src="@{/common-assets/vendor/simple-datatables/simple-datatables.js}"></script>

<script th:src="@{/common-assets/vendor/php-email-form/validate.js}"></script>

<!-- Template Main JS File -->
<script th:src="@{/common-assets/js/main.js}"></script>

</body>

</html>